@font-face {
    font-family: 'DOSfont';
    src:  url('../fonts/ModernDOS9x14.woff2') format('woff2'),
          url('../fonts/ModernDOS9x14.woff') format('woff');
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1ch;
    background-color: black;
    font-family: 'DOSfont', Fallback, monospace;
    color: white;
    font-size: 1.5rem;
    line-height: 1;
}

a {
    text-decoration: none;    
    color: inherit;           
    outline: none; 
}

u {
    text-decoration-thickness: 3px; 
}

.footer {
    width: 100%;
    background-color: #304ba3;
    margin-top: 1ch;
    padding-left: 1ch;
    clear: both;
}

.wrapper {
    width: 120ch;
    margin-left: auto;
    margin-right: auto;
}

.title {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #304ba3;
    white-space: pre-wrap;

}

.nav {
    color: white;
    white-space: pre;
}

 hr {
    margin: 0;
    margin-top: 0.75ch;
    margin-bottom: 0.75ch;
    padding: 0;
    width: 100%;
    color: white !important;
    height: 1px !important;
    border-top:2px solid white !important;
    border-bottom:2px solid white !important;
    border-left: 0 !important;
    border-right: 0 !important;
    opacity: 100%;
}

.nav-right {
    float: right;
}

.nav-current {
    text-decoration: underline;
    text-decoration-thickness: 3px; 
}

.window {
    position: relative;
    box-sizing: border-box;
    border: 3px solid white;
    padding: 1ch;
    padding-top: 3ch;
    margin-bottom: 1ch;
    /* margin-left: 1ch; */
}


.window .bar {
    background-color: #ae2573;
    padding-left: 1ch;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.b-titel {
    text-decoration: underline;
    margin-bottom: 1ch;
    width: 100%;
    text-decoration-thickness: 3px; 
}

.b-text {
    white-space: pre-line;
    /* overflow-wrap: break-word; */
    /* word-break: break-all; */
    /* hyphens: auto; */
}

.c-cyan {
    color: rgb(0, 192, 192);
}

.pdf-container {
    position: relative;
    width: 100%;
    padding-bottom: 141.4%; 
    height: 0;
    overflow: hidden;
}


.pdf-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.meta-field {
    margin-bottom: 1ch;
    text-align: left;
}

.meta-field .label {
    font-weight: bold;
    display: inline-block;
    width: fit-content;
}

.meta-field .value {
    margin-left: 1ch;
    font-weight: lighter;
    display: inline-block;
    width: fit-content;
}

.no-preview {
    /* background-color: #da291c; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-container {
    display: flex;
    padding-top: 1ch;
    margin-right: 2ch;
    overflow: auto;
}


.member-container img {
    width: 15ch;
}

.member-element {
    width: fit-content;
}